/* shared styling */
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-family: "Libre Baskerville", serif;
    transition: smooth;
}
/* header style */
/* nav start */
.header{
    padding: 20px;
    background-color:  #021015; 
    /* position: relative; */
    /* border: 2px solid; */
    /* box-shadow: 0px 0px 5px 5px bisque; */
}
.nav-li{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav a{
    text-decoration: none;
    color: antiquewhite;
    font-size: 20px;
    padding: 20px;
}
.heading-title{
    color: antiquewhite;
    font-size: 2em;
    letter-spacing: 10px;
    text-shadow: 3px 2px lightseagreen;
    text-align: center;
    text-transform: uppercase;
    text-decoration:underline;
    padding: 10px 0px;   
}
/* nav end */
/* main body styling */

/* calender section start */
.calender-section{
    padding: 40px;
    margin: 50px;
    background-color: #02101530;
    box-shadow:0px 0px 5px 5px #0210156c;
    border-radius: 10px;
    /* display: flex; */
    /* justify-content: center; */
    /* border: 2px solid red; */
    /* align-items: center; */
}
.calender-container{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    /* grid-template-rows: repeat(6,70px); */
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    /* width: 50%; */ 
}
.date,.day{
    text-align: center;
    padding: 5px;
    margin: 10px;
    font-size: .9em;
    background-color: #021015;
    border-radius: 5px;
    /* justify-content: center;
    align-items: center;
    height: 50px; 
    width: 80px; */
    /* row-gap: 5px;
    column-gap: 15px; */
}
.day a{
    font-size: 1.5em;
    text-decoration: none;
    color: aliceblue;
}
.day a:hover{
    transition-delay: .3s ease;
    font-weight: 700;
    text-shadow: 2px 2px lightseagreen;
}
.date a{
    font-size: 1.5em;
    text-decoration: none;
    color: #021015;
    /* color: #82cde9; */
    /* color: aliceblue; */
}
.date a:hover{
    color: #82cde9;
    transition-delay: .3s ease;
    cursor:pointer;
    /* background-color:#021015c4;  */
}
.date{
    /* font-size: 1.1em; */
    color: #021015;
    background-color: #0210158c;
}
.date:hover{
    color: #82cde9;
    cursor:pointer;
    background-color:#021015c4; 
}
/* calender section end */
/* footer */
.footer{
    color: antiquewhite;
    letter-spacing: 5px;
    background-color: #021015;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px;
}
.footer-text{
    text-shadow:1px 1px #82cde9;
}


/* TO-DO LIST STYLING START */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* section{
    justify-content: center;
    align-items: center;
}  */
body{
    /* background-color: beige; */
    color: #82cde9;
    /* justify-content: center;
    align-items: center; */
}
/* section to-do-container style start */
.to-do-container{
    /* max-width: 700px; */
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    /* margin-top: 120px auto ; */
    /* border: 2px solid red; */
}
.task-manage-container{
    padding: 20px;
    margin: 100px 0px 40px 0px;
    border-radius: 10px;
    background-color: #021015;
    border: 2px solid #82cde9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px; 
    width: 600px;
    box-shadow:0px 0px 5px 0px #021015;
    /* max-width: 700px; */
} 
.task-details{
    width: 100%;
}
#progress-bar{
    width: 100%;
    height: 10px;
    background-color: #367f999a;
    border-radius: 5px;
    margin-top: 20px;
}
#progress{
    width:70% ;
    height: 10px;
    border-radius: 5px;
    transition:all 0.3s ease;
    background-color: #82cde9;
}
/* task-number styling */
#number{
    font-size: 35px;
    color: #021015;
    background-color: #82cde9;
    width: 100%;
    height: 100%;
    padding: 20px;
    border-radius: 50%;
    box-shadow: 0px 0px 3px 3px #367f99;
}
.form{
    width: 600px;
    /* height: 30px; */
    justify-content: space-between;
    align-items: center;
    display: flex;
    gap: 5px ;
    /* background-color: #021015; */
    margin-bottom: 30px;
    /* box-shadow:0px 0px 5px 0px #021015; */
    border-radius: 5px;
}
input{
    flex: 1; /* takes up the entire available space*/
    outline: none;
    height: 30px;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    background-color: #0210152f;
    border: 2px solid #82cde9;
}
input:focus{
    color:#021015;
}
button{
    height: 32px;
    width: 30px;
    border-radius: 5px;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    color: #82cde9;
    border: 2px solid #82cde9;
    background-color: #021015;
}
/* TO-DO LIST STYLING END */

/* responsive styling */

@media (max-width: 640px) {
    .header{
        padding: 10px;
        gap: 0;
    }
    .nav-li{
        font-size: 10px;
        /* display: block; */
    }
    .nav-li a{
        font-size: 10px;
        /* display: block; */
    }
    .heading-title{
        padding: 20px;
        font-size: 20px;
        letter-spacing: normal;
        text-decoration: none;
        text-shadow: none;
        text-align: left;
    }
    .calender-section{
        grid-template-columns: repeat(7,1fr);
        grid-template-rows: repeat(5,20px);
        margin: 50px;
        padding: 2px;
        justify-content: center;
        align-items: center;
        /* border: 2px solid red; */
    }
    .calender-container{
        grid-template-columns: repeat(7,1fr);
        grid-template-rows: repeat(5,20px);
        padding: 20px;
        /* row-gap: 1px;
        column-gap: 0px; */
        /* border: 2px solid red; */
    }
    .date,
    .day {
        margin: 2px;
        padding: 3px;
        font-size: .3em; /* Slightly smaller text on small screens */
        height: fit-content;
        width: 20px;
        
        /* border: 2px solid red; */
    }
    .day a,.date{
        font-size: .3rem;
    }
    footer{
        
        margin-bottom: 0;
        font-size: .5em;
        letter-spacing: normal;
    }
    .footer-text{
        text-shadow: none;
    }
}

